{% extends "layout.html" %}
{% block title %}About Hot Chocolate Travel Map{% endblock %}

{% block main %}
    <div class="about-container">
        <h1 class="text-cozy fw-bold">Hot Chocolate Travel Map</h1>
        <p>
            This site is for Hot Chocolate lovers everywhere. The platform allows you to track your favorite cozy hot chocolate spots around the world and get recommendations from others. Users can also export their own travel map or reccomendations from others to be used in Google Maps or Google Earth!☕
        </p>
    </div>
{% endblock %}
